form(action="/todo" method="POST")
    label My name
    br
    input(type="text" id="input-name" name="name")
    br
    label My todos
    br
    input(type="text" id="input-task" name="todos")
    br
    button(type="submit" id="submit-data") Submit